<div class="containerOne">
    <app-context class="context col-md-6"></app-context>
    <div class="login-form col-md-6">
    <form>
        <h2 class="roboto-bold">Sign Up</h2>
        <input class="roboto-regular" placeholder="Email" type="email"/>
        <br>
        <input class="roboto-medium" placeholder="Password" type="password"/>
        <br>
        <input class="roboto-medium" placeholder="Confirm Password" type="password"/>
        <button class="roboto-bold" >Sign Up</button>
    </form>
    </div>
    </div>